body {
    font-size: 16px;
    color: #9d9d9d;
    font-family: Arial, Tahoma;
}

#box-page {
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    text-align: center;
    font-size: 98px;
    color: #000;
    padding: 30px 0;
    border-top: 10px solid #e2e2e2;
    border-bottom: 10px solid #e2e2e2;
    font-weight: bold;
}

#box-login {
    padding: 10px 0;
    font-size: 13px;
    width: 100%;
    text-align: right;
}

#box-login div {
    display: inline-block;
    margin-left: 10px;
}

#box-login span {
    color: #000;
    font-weight: bold;
}

button {
    padding: 4px 15px;
    font-size: 12px;
    border-radius: 2px;
    background: #ececec;
    border: 1px solid #bebebe;
}

#categories {
    width: 20%;
    float: right;
    padding: 10px 0;
}

#entries {
    float: left;
    width: 75%;
    margin-right: 5%;
    padding: 10px 0;
}

h2 {
    font-weight: bold;
    color: #007edf;
    font-size: 28px;
    padding: 15px 0 7px 0;
    margin: 0;
}

.details {
    font-size: 12px;
    width: 100%;
    text-align: left;
}

.details div {
    display: inline-block;
    margin-right: 10px;
    padding: 3px 10px;
    border-radius: 2px;
    background: #ececec;
}

#entries p {
    color: #585858;
    padding: 0;
    margin: 0;
}

#entries button {
    margin: 15px 0 0 0;
}

.details div span {
    color: #000;
    font-weight: bold;
}

.box-entry {
    padding: 30px 0 30px 0;
    border-bottom: 2px solid #e2e2e2;
}

.box-entry:last-child
{
    border-bottom: none !important;
}

#categories ul {
    list-style-type: square;
    margin: 0;
    padding: 0;
}

#categories ul li {
    border-bottom: 1px solid #d3d3d3;
    padding: 10px 0;
}

#categories ul li a {
    color: #000;
    text-decoration: none;

}

h3 {
    font-size: 24px;
    color: #000;
    padding: 10px 0;
    border-bottom: 10px solid #e2e2e2;
}

#categories ul li span {
    font-size: 13px;
    background: #dbebf7;
    border-radius: 15px;
    padding: 3px 6px;
    color: #3a9ead;
    display: inline-block;
    margin-left: 5px;
}

footer {
    clear: both;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    border-top: 10px solid #e2e2e2;
}

#comments .comment {
    font-size: 14px;
    padding: 15px;
    background: #dbebf7;
    border-radius: 5px;
    color: #3a9ead;
    box-sizing: content-box;
    position: relative;
    margin-bottom: 20px;
}

#comments .comment .comment-login {
    position: absolute;
    top: -10px;
    background: #007edf;
    color: #fff;
    font-weight: bold;
    padding: 2px 5px;
    border-radius: 12px;
}

textarea {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

#comments form {
    margin-bottom: 20px;
}

#comments {
    width: 100%;
    clear: both;
}

form div {
    margin-bottom: 15px;
}

input[type=email], input[type=text], input[type=password] {
  margin-top: 10px;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #d3d3d3;
    width: 100%;
}

#login {
    color: #585858;
    border: 10px solid #e2e2e2;
    padding: 30px;
    width: 40%;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
}

.errors {
    background: #ffe9e9;
    padding: 5px;
    box-sizing: border-box;
    color: #d55a5a;
    border: 1px solid #f4cdcd;
    border-radius: 3px;
}

.errors p {
    margin: 0;
    padding: 0;
}