body {
    font-size: 16px;
    color: #9d9d9d;
    font-family: Arial, Tahoma;
}

body,html {
    margin: 0;
    padding: 0;
}

#box-login div {
    display: inline-block;
    margin-left: 10px;
}

#box-login span {
    color: #fff;
    font-weight: bold;
}

#left-bar h2 {
    width: 100%;
    height: 64px;
    line-height: 64px;
    padding: 0 20px;
    background: #25509b;
    box-sizing: border-box;
    margin: 0;
    color: #fff;
}

#left-bar ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
}

#left-bar ul li {
    border-bottom: 1px solid #7298c9;
}

#left-bar ul li a {
    font-weight: bold;
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

#left-bar {
    width: 15%;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: #2052e1;
}

#box-login {
    height: 64px;
    line-height: 64px;
    background: rgb(44, 46, 59);
    font-size: 13px;
    width: 85%;
    text-align: right;
    float: right;
    padding: 0 20px;
    box-sizing: border-box;
}

#right-bar {
    float: right;
    width: 85%;
    padding:  40px;
    box-sizing: border-box;
}

#right-bar table {
    width: 100%;
}

#right-bar table tbody td{
   font-size: 14px;
    color: #000;
    padding: 5px;
    box-sizing: border-box;
}
#right-bar table th{
    color: #ffffff;
    background: #585858;
    padding: 10px;
    box-sizing: border-box;
    text-align: left;
}

#right-bar table tbody tr:nth-child(even) {
    background: #f5f5f5;
}